@keyframes scaleUp
{
  0% 
  {
    transform: scale(0.5);
    opacity: 0;
  }

  100% 
  {
    transform: scale(1);
    opacity: 1;
  }
}

.dropdown_box
{
    width: auto;
    animation: scaleUp ease-out 1.5s;
    animation-delay: 0;
}

.dropdown
{
    display: flex;
    color: #6882FF;
    font-weight: 1000;
    font-size: 2vh;
    background-color: rgba(255, 255, 255, 0.65);
}

.dropdown:hover
{
    cursor: pointer;
}

.dropdown_button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.5%;
    transition-duration: 0.5s;
}

.dropdown_button:hover
{
    transform: scale(1.15);
    transition-duration: 0.5s;
}

#dropdown_icon
{
    height: 2.5vh;
    margin-left: 2%;
    transition-duration: 0.5s;
}

.content
{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.contentOpen
{
    width: auto;
    max-height: 55vw;
    transition: max-height 1s ease-in-out;
}

.contentClosed
{
    width: auto;
    max-height: 0;
    transition: max-height 1s ease-in-out;
}

/*Smartphone*/
@media screen and (max-width: 875px) and (orientation: portrait)
{
    .dropdown
    {
        height: 12.5vw;
    }

    .contentOpen
    {
        width: auto;
        max-height: 150vw;
        transition: max-height 1s ease-in-out;
    }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px) and (orientation: portrait)
{
    .dropdown
    {
        height: 10vw;
    }

    .contentOpen
    {
        width: auto;
        max-height: 130vw;
        transition: max-height 1s ease-in-out;
    }
}