::placeholder
{
    color: rgba(104, 130, 255, 0.5);
    font-size: 2vh;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder
{
    /* Internet Explorer 10-11 */
    font-size: 2vh;
    color: rgba(104, 130, 255, 0.5);
}

::-ms-input-placeholder
{
    /* Microsoft Edge */
    font-size: 2vh;
    color: rgba(104, 130, 255, 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #6882ff;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    margin: 10% 5% 10% 5%;
}

#login_form
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27vh;
    width: 20vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.65);
    /*makes it so that the border isn't on top of the div*/
    background-clip: padding-box;
    border: 0.75vw solid rgba(231, 238, 248, 0.3);
}

input
{
    font-size: 2vh;
    font-weight: 1000;
    color: rgba(104, 130, 255, 1);
    background-color: transparent;
    border: none;
    border-bottom: 0.35vw solid rgba(104, 130, 255, 0.3);
    transition-duration: 0.5s;
}

input:hover
{
    border-bottom: 0.35vw solid rgba(104, 130, 255, 0.6);
    outline: none;
    transition-duration: 0.5s;
}

input:focus
{
    border-bottom: 0.35vw solid rgba(104, 130, 255, 1);
    outline: none;
    transition-duration: 0.5s;
}

#login_button
{
    background-color: #9AADFC;
    color: white;
    font-weight: 1000;
    font-size: 2vh;
    border: none;
    padding: 2%;
    transition-duration: 0.5s;
}

#login_button:hover
{
    background-color: #6882FF;
    cursor: pointer;
    transition-duration: 0.5s;
}

/*Smartphone*/
@media screen and (max-width: 875px) and (orientation: portrait)
{
    form
    {
        gap: 7.5vw;
        margin: 10% 5% 10% 5%;
    }
    
    #login_form
    {
        width: 60vw;
        margin-bottom: 35vh;
        height: auto;
        border: 2vw solid rgba(231, 238, 248, 0.3);
    }

    input
    {
        font-size: 2.5vh;
        border-bottom: 1.25vw solid rgba(104, 130, 255, 0.3);
    }

    input:hover
    {
        border-bottom: 1.25vw solid rgba(104, 130, 255, 0.6);
    }

    input:focus
    {
        border-bottom: 1.25vw solid rgba(104, 130, 255, 1);
    }

    #login_button
    {
        font-size: 2vh;
        padding: 3%;
    }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px) and (orientation: portrait)
{
    ::placeholder
    {
        font-size: 2.25vh;
    }
      
    :-ms-input-placeholder
    {
        font-size: 2.25vh;
    }
    
    ::-ms-input-placeholder
    {
        font-size: 2.25vh;
    }

    form
    {
        gap: 7.5vw;
        margin: 10% 5% 10% 5%;
    }
    
    #login_form
    {
        width: 50vw;
        margin-bottom: 35vh;
        height: auto;
        border: 2vw solid rgba(231, 238, 248, 0.3);
    }

    input
    {
        font-size: 2.5vh;
        border-bottom: 1.25vw solid rgba(104, 130, 255, 0.3);
    }

    input:hover
    {
        border-bottom: 1.25vw solid rgba(104, 130, 255, 0.6);
    }

    input:focus
    {
        border-bottom: 1.25vw solid rgba(104, 130, 255, 1);
    }

    #login_button
    {
        font-size: 2vh;
        padding: 3%;
    }
}