:root {
  /* all spaces that are inside of the box are calculated together to the number below which defines the total box-width*/
  --box-width: 28vw;
  --space-between: 10vw;
}

#interest_body
{
  overflow-x: hidden;
  overflow-y: hidden;
}

#slider
{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear ease-out 1.5s;
  animation-delay: 0;
}

#all_interest_boxes
{
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.interest_content_box
{
  display: flex;
  background-color: rgba(255, 255, 255, 0.65);
  border: 1vw solid rgba(255, 255, 255, 0.3);
  /*makes it so that the border isn't on top of the div*/
  background-clip: padding-box;
  width: 60vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 5%;
  animation: scaleUp ease-out 1.5s;
  animation-delay: 0;
}

.interest_content_box p
{
  color: #6882FF;
  font-weight: 1000;
  font-size: 2vh;
  margin: 1%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.interest_box
{
  width: 15vw;
  height: 15vw;
  transform: rotateZ(45deg);
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  text-align: center;
  align-items: center; 
  justify-content: center;
  border: 1vw solid rgba(255, 255, 255, 0.3);
  /*makes it so that the border isn't on top of the div*/
  background-clip: padding-box;
  transition-duration: 0.5s;
}

.interest_title
{
  color: #6882FF;
  padding: 4vw;
  font-size: 4vh;
  font-weight: 600;
  transform: rotateZ(-45deg);
  transition-duration: 0.5s;
}

#left_button, #right_button
{
  z-index: 1;
  position: absolute;
}

#left_button:hover, #right_button:hover
{
  transform: scale(1.2);
  cursor: pointer;
  opacity: 1;
  transition-duration: 0.5s;
}

#left_button
{
  left: 0;
  margin-left: 2vw;
  height: 4vw;
  opacity: 0.7;
  transition-duration: 0.5s;
}

#right_button
{
  right: 0;
  margin-right: 2vw;
  height: 4vw;
  opacity: 0.7;
  transition-duration: 0.5s;
}

.interest_image
{
  height: 15vw;
  margin-top: auto;
  margin-bottom: auto;
}

/*Smartphone*/
@media screen and (max-width: 875px) and (orientation: portrait)
{
  #slider
  {
    margin-top: 10%;
  }

  #all_interest_boxes
  {
    gap: 20vw;
  }

  .interest_box
  {
    width: 30vw;
    height: 30vw;
    border: 2vw solid rgba(255, 255, 255, 0.3);
  }

  .interest_content_box
  {
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2vw solid rgba(255, 255, 255, 0.3);
  }

  .interest_content_box p
  {
    margin: 5%;
  }

  .interest_title
  {
    font-size: 2.25vh;
  }

  .interest_image
  {
    height: 60vw;
  }

  #left_button
  {
    height: 12vw;
  }

  #right_button
  {
    height: 12vw;
  }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px) and (orientation: portrait)
{
  #slider
  {
    margin-top: 10%;
  }

  #all_interest_boxes
  {
    gap: 20vw;
  }

  .interest_box
  {
    width: 30vw;
    height: 30vw;
    border: 2vw solid rgba(255, 255, 255, 0.3);
  }

  .interest_content_box
  {
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2vw solid rgba(255, 255, 255, 0.3);
  }

  .interest_content_box p
  {
    margin: 5%;
  }

  .interest_title
  {
    font-size: 2.5vh;
  }

  .interest_image
  {
    height: 60vw;
  }

  #left_button
  {
    height: 15vw;
  }

  #right_button
  {
    height: 15vw;
  }
}