#all_strength_boxes
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: 7.5vw;
    margin-bottom: 10%;
    animation: appear ease-out 1.5s;
}

.strength_box
{
  width: 8vw;
  height: 8vw;
  transform: rotateZ(45deg);
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  text-align: center;
  align-items: center; 
  justify-content: center;
  border: 0.75vw solid rgba(255, 255, 255, 0.3);
  /*makes it so that the border isn't on top of the div*/
  background-clip: padding-box;
  transition-duration: 0.5s;
}

.strength_title
{
  color: #6882FF;
  padding: 4vw;
  font-size: 3vh;
  font-weight: 600;
  transform: rotateZ(-45deg);
  transition-duration: 0.5s;
}

#progressbar
{
  position: absolute;
  top: 62.5%;
  left: 95%;
  transform: translate(-99%, 0) rotateZ(-45deg);
  width: 5vw;
  height: 0.5vw;
  background-color: #bcbdfc;
}

#percentage
{
  background-color: #6882FF;
  height: 100%;
}

/*Smartphone*/
@media screen and (max-width: 875px)
{
    #all_strength_boxes
    {
      grid-template-columns: auto auto;
      gap: 15vw;
      margin-top: 10%;
    }

    .strength_box
    {
        width: 20vw;
        height: 20vw;
        border: 1.5vw solid rgba(255, 255, 255, 0.3);
    }

    .strength_title
    {
      font-size: 2.25vh;
    }

    #progressbar
    {
      top: 62.5%;
      left: 95%;
      transform: translate(-99%, 0) rotateZ(-45deg);
      width: 12vw;
      height: 1vw;
    }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px)
{
    #all_strength_boxes
    {
      grid-template-columns: auto auto;
      gap: 15vw;
      margin-top: 10%;
    }

    .strength_box
    {
        width: 20vw;
        height: 20vw;
        border: 1.5vw solid rgba(255, 255, 255, 0.3);
    }

    .strength_title
    {
      font-size: 2.5vh;
    }

    #progressbar
    {
      top: 62.5%;
      left: 95%;
      transform: translate(-99%, 0) rotateZ(-45deg);
      width: 12vw;
      height: 1vw;
    }
}