#lebenslauf_viewer
{
    display: block;
    margin: 0 auto 5% auto;
    width: 40vw;
    height: 55vw;
}

/*Smartphone*/
@media screen and (max-width: 875px) and (orientation: portrait)
{
    #lebenslauf_viewer
    {
        width: 50vw;
        height: auto;
        margin: 20% auto 20% auto;
    }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px) and (orientation: portrait)
{
    #lebenslauf_viewer
    {
        width: 50vw;
        height: auto;
        margin: 20% auto 20% auto;
    }
}