#lebenslauf_viewer
{
    display: flex;
    justify-content: center;
    margin: 0 0 5% 0;
}

/*Smartphone*/
@media screen and (max-width: 875px) and (orientation: portrait)
{
    #lebenslauf_viewer
    {
        height: auto;
        margin: 20% 0 20% 0;
    }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px) and (orientation: portrait)
{
    #lebenslauf_viewer
    {
        height: auto;
        margin: 20% 0 20% 0;
    }
}