* 
{
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body
{
  background: linear-gradient(to right bottom, #9ADFF5, #A17AFF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/* width of Scrollbar */
::-webkit-scrollbar {
  width: 1.2vh;
}

/* Color behind the Scrollbar */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Scrollbar Color */
::-webkit-scrollbar-thumb {
  background: #7289fc; 
}

/* Scrollbar Color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5874ff; 
}

@keyframes slideInTop
{
  0% 
  {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% 
  {
    transform: translateY(0);
    opacity: 1;
  }
}

header
{
  animation: slideInTop ease-out 1.5s;
  animation-delay: 0;
}

#side_navbar, #hamburger
{
  display: none;
}

#navbar
{
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.65) 92%,rgb(255, 255, 255, 0.3) 92% 100%);
}

#profile
{
  margin-left: auto;
  margin-right: 5vmin;
}

img
{
  height: 7vh;
}

ul
{
  display: flex;
  align-items: center;
  height: 15vh;
}

li
{
  display: inline;
  margin-left: 5vmin;
  transition-duration: 0.5s;
}

li:hover
{
  transform: scale(1.15);
  transition-duration: 0.5s;
}

a
{
  color: #6882FF;
  text-decoration: none;
  font-weight: 1000;
  font-size: 2.5vh;
}

/*Smartphone*/
@media screen and (max-width: 875px) and (orientation: portrait)
{
  /*:not('className') makes it so that the tag with that class is not affected by this styling*/
  li:not(#profile, #hamburger, .side_link)
  {
    display: none;
  }

  #side_navbar ul, #side_navbar li
  {
    display: table;
    margin-left: 4vw;
  }

  #side_navbar li:not(#close_button)
  {
    margin-top: 2vh;
  }

  #close_button
  {
    margin-top: 4vh;
    margin-bottom: 20vh;
  }

  #side_navbar
  {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60vw;
    background: #E7EEF8;
    transform: translateX(-100%);
    z-index: 1;
  }

  a
  {
    font-size: 2.5vh;
  }

  #hamburger
  {
    display: block;
  }

  #hamburger:hover, #close_button:hover
  {
    cursor: pointer;
  }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px) and (orientation: portrait)
{
  li:not(#profile, #hamburger, .side_link)
  {
    display: none;
  }

  #side_navbar ul, #side_navbar li
  {
    display: table;
    margin-left: 4vw;
  }

  #side_navbar li:not(#close_button)
  {
    margin-top: 2vh;
  }

  #close_button
  {
    margin-top: 4vh;
    margin-bottom: 20vh;
  }

  #side_navbar
  {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 60vw;
    background: #E7EEF8;
    transform: translateX(-100%);
    z-index: 1;
  }

  a
  {
    font-size: 2.5vh;
  }

  #hamburger
  {
    display: block;
  }

  #hamburger:hover, #close_button:hover
  {
    cursor: pointer;
  }
}