* 
{
  font-family: "Roboto", sans-serif;
  /*the font family can be changed in this line (currently using "Geneva")*/
  padding: 0;
  margin: 0;
}

@keyframes slideInBottom
{
  0% 
  {
    transform: translateY(100%);
    opacity: 0;
  }

  100% 
  {
    transform: translateY(0);
    opacity: 1;
  }
}

#footer
{
  background: linear-gradient(to bottom,rgba(255, 255, 255, 0.3) 8%,rgb(255, 255, 255, 0.65) 8% 100%);
  display: flex;
  height: 15vh;
  align-items: center;
  animation: slideInBottom ease-out 1.5s;
  animation-delay: 0;
}

/* If User reaches the Error Page then the Footer is fixed to the bottom of the Page */
.error_page
{
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 1024px)
{
  #copyright
  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  #impressum
  {
    margin-right: 5vmin;
    margin-left: auto;
  }
}

#impressum:hover
{
  cursor: pointer;
}

p
{
  color: #6882FF;
  font-weight: 1000;
  font-size: 2.5vh;
}

/*Smartphone*/
@media screen and (max-width: 875px)
{
  p
  {
    font-size: 2vh;
  }

  #copyright span
  {
    display: flex;
    flex-direction: column;
    margin-left: 5vmin;
  }

  #impressum
  {
    display: block;
    margin-left: auto;
    margin-right: 5vmin;
  }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px)
{
  p
  {
    font-size: 2vh;
  }

  #copyright span
  {
    display: flex;
    flex-direction: column;
    margin-left: 5vmin;
  }

  #impressum
  {
    display: block;
    margin-left: auto;
    margin-right: 5vmin;
  }
}