.pdf_viewer
{
    height: 55vw;
    width: 40vw;
}

.pdf_error_msg
{
    display: block;
    color: white;
    font-weight: 1000;
    font-size: 2.5vh;
    text-align: center;
    margin: 0 20% 10% 20%;
}

.pdf_download_link
{
    display: block;
    text-align: center;
    transition-duration: 0.5s;
    margin: 0 20% 10% 20%;
}

.pdf_download_link:hover
{
    transform: scale(1.1);
    cursor: pointer;
    transition-duration: 0.5s;
}

/*Smartphone*/
@media screen and (max-width: 875px) and (orientation: portrait)
{
    .pdf_viewer
    {
        height: 120vw;
        width: 80vw;
    }

    .pdf_error_msg
    {
        margin: 10% 20% 20% 20%;
    }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px) and (orientation: portrait)
{
    .pdf_viewer
    {
        height: 100vw;
        width: 80vw;
    }

    .pdf_error_msg
    {
        margin: 10% 20% 20% 20%;
    }
}