@keyframes appear
{
  0% 
  {
    opacity: 0;
  }

  100% 
  {
    opacity: 1;
  }
}

#error_box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: appear 2s;
  animation-delay: 0;
}

#error_box h1
{
  color: rgb(255, 0, 0, 0.75);
  font-size: 14vh;
}

#error_box h2
{
  color: rgb(0, 0, 0);
  font-size: 4vh;
}

#error_box h3
{
  color: rgb(0, 0, 0);
  font-size: 2vh;
  margin-top: 1vmin;
}

/*Smartphone*/
@media screen and (max-width: 875px) and (orientation: portrait)
{
  #error_box
  {
    text-align: center;
  }
}

/*Tablet*/
@media screen and (min-width: 875px) and (max-width: 1023px) and (orientation: portrait)
{
  #error_box
  {
    text-align: center;
  }
}